//--------- DARK THEME
#light.dark {
  .navbar {
    .logo svg path {
      fill: $themeBlack3;
      &:first-of-type {
        fill: $themeRed;
        border: 1px solid $themeRed;
      }
    }
    &.white {
      background-color: $themeBlack1;
      box-shadow: 0 -1px 10px $themeBlack;
    }
    div.navigation,
    div.navigation.show {
      & > div > div button.nav &::after {
        @apply bg-red-600;
      }
    }

    //  INITIAL DARK NAVBAR STYLES
    .navigation {
      > div {
        > div .nav {
          -webkit-text-stroke: 0.25px white;
          @apply text-white;
        }
        & > div:last-of-type button {
          background: transparent;
          background: linear-gradient(-15deg, #000a, #0003);
          box-shadow: 2px 2px 8px 0.75px #222a, -1px -1px 4px #111d;
          @apply bg-slate-700 text-gray-200;
          &:hover,
          &:focus,
          &:focus-within,
          &:focus-visible {
            -webkit-text-stroke: 0.05px $themeBlack1;
            background: linear-gradient(-15deg, #000c, #0007);
            box-shadow: 2px 2px 8px 0.75px #222a, -1px -1px 4px #111d;
          }
        }
      }
      //SHOWN
      &.show {
        @apply bg-[#1116];
      }
    }
  }

  //---------DARK HOME DEN
  #home {
    .bg [alt="Home Page Background"],
    video {
      filter: brightness(0.8);
    }
    .lilAbout {
      background-color: $themeBlackBg;
      .circleImg {
        background-color: $themeBlackBg;
        box-shadow: 0 0 14px 2.5px #0003;
      }
      .about {
        .hero {
          h2 {
            color: $offWhite !important;
          }
          .line {
            background-color: $themeDGray;
          }
        }
        p {
          color: $themeWhite2;
        }
      }
    }
    .skills {
      background: linear-gradient(0rad, #01041a, #02244d, #033169);
    }

    .homeProjects {
      background-color: $themeBlackBg;
      h3 {
        -webkit-text-stroke: 0.5px $themeBlueDeep;
        color: $themeBlueDeep;
      }
      h1 {
        color: $themeWhite;
      }
      .swiper {
        .swiper-wrapper .swiper-slide {
          box-shadow: 0px 2px 7px 1px $themeDGray;
        }
        img {
          filter: brightness(0.85);
        }
      }
    }
  }

  //----------- ABOUT THE DARK VADER
  #about {
    .bg {
      background-image: linear-gradient(180deg, #0002, $themeBlack1),
        url("../IMAGES/AboutBackground.jpg");
    }
    section {
      background-color: $themeBlack2;
      .aboutMe {
        color: $themeWhite;
      }
    }
    .myServices {
      background: linear-gradient(180deg, $themeBlack2, $themeBlackBg);
      .serviceWrapper {
        h2 {
          -webkit-text-stroke: 0.2px $themeWhite;
          color: $themeWhite;
        }
        .serviceList {
          .service {
            box-shadow: 1px 2px 10px 0.5px #333;
            background: $themeBlack1;
            .icon {
              @apply bg-red-100;
              svg {
                fill: $themeCoarseRed;
              }
            }
            h4 {
              -webkit-text-stroke: 0.2px $offWhite;
              color: $offWhite;
            }
            p {
              color: $themeGray;
            }
            .backdrop {
              svg {
                fill: $themeBlack3;
              }
            }
          }
        }
      }
    }
  }

  //---------DARK PROJECTS
  #projects {
    .bg {
      box-shadow: 0 10px 12px 0.75px #7773;
      video {
        filter: brightness(0.77);
      }
    }
    main {
      background-color: $themeBlack2;
      .projectNav {
        background-color: $themeBlack1;
        > div {
          .Nav {
            //  EACH BUTTON
            @apply hover:bg-gray-800 focus:bg-gray-800
           [&.active>span]:text-gray-200;
            img {
              filter: invert(0.7);
            }
            span {
              color: $gray;
            }
          }
        }
      }
      section {
        .gridSection {
          // EACH PROJECT DIV
          .MainProject {
            box-shadow: 0 3px 12px 0.75px #222;
            background: $themeBlack1;
            &:hover {
              box-shadow: 0 3px 12px 0.75px #222;
            }
            .swiper {
              .swiper-wrapper {
                .swiper-slide {
                  &::after {
                    background: linear-gradient(
                      180deg,
                      transparent,
                      #0002,
                      #1114,
                      #111a,
                      #111
                    );
                  }
                }
              }
              //  SWIPER BUTTONS
              [class^="swiper-button"] {
                @apply opacity-50 [&:hover]:bg-gray-500 [&::after]:text-gray-300;
              }
            }
            .contentWrapper {
              h4 {
                color: $offWhite;
              }
              p {
                color: $themeGray;
              }
              .actions {
                button {
                  @apply opacity-70 
                  [&>svg]:fill-gray-600 hover:bg-gray-800
                   hover:[&>svg]:fill-gray-100 [&.active>svg]:fill-gray-100;
                }
              }
            }
          }
        }
        // USED TOOLS DIV
        .tools {
          &.show {
            box-shadow: 0 2px 12px 0.75px $themeBlack3; // #444;
            background: $themeBlack1;
            &::before {
              border-bottom-color: $themeBlack1;
              @apply h-6 absolute top-[-1.4rem] left-3.5;
            }
          }
        }
        // UI IMAGES
        .UI-UX .UI_image img:hover {
          box-shadow: 0 2px 10px 0.5px $themeBlack3; // #444;
        }
      }
    }
  }

  //---------CONTACT THE DARK SIDE
  #contact {
    .bg {
      background-image: linear-gradient(180deg, #0002, $themeBlack1),
        url("../IMAGES/ContactBackground.jpg");
      box-shadow: 0 10px 12px 0.5px #111a;
    }
    main {
      background-color: $themeBlackBg;
      .hero {
        > div {
          @apply bg-slate-100;
        }
        h3 {
          color: $themeWhite2;
        }
      }
      .socials {
        button,
        a {
          border: 2px solid $themeBlack3;
          &:hover,
          &:focus {
            border-color: $themeCoarseRed;
            opacity: 0.6;
            svg {
              color: $themeCoarseRed;
            }
          }
          svg {
            @apply text-gray-500;
          }
        }
      }

      .ContactMeWrapper {
        .ContactMe {
          box-shadow: 0 0 15px Black;
          background-color: $themeBlack1;
          .intro {
            h2 {
              color: $offWhite;
            }
            svg {
              filter: invert(0.8);
            }
          }
          form {
            .formControl {
              > div {
                background-color: $themeBlack1;
                &:hover label {
                  color: $offWhite;
                  sup {
                  }
                }
              }
              input,
              textarea {
                border: 1px solid $themeBlack2;
                color: $offWhite;
                color: $offWhite;
                &::placeholder {
                  color: $themeBlack3;
                }
                &:hover {
                  background-color: $themeBlack3;
                  &::placeholder {
                    color: $themeBlack3;
                  }
                }
                &:focus {
                  border: 1px solid $themeGray;
                }
              }
              > span {
                color: $themeRed;
              }
            }
          }
        }
        .circleWrapper {
          background: linear-gradient(
            133deg,
            $themeBlueAlpha,
            $themeBlue,
            $themeBlueDeep
          );
          opacity: 0.6;
        }
      }
    }
  }

  //------------- PORTAL
  #portals {
    .ProjectDets {
      background-color: $themeDGray;
      > button {
        color: $themeCoarseRed;
        @apply opacity-60 hover:opacity-100 focus:opacity-100;
      }
      hr {
        @apply opacity-10;
      }
      h3 {
        color: $offWhite;
      }
      .images {
        .swiper {
          .swiper-wrapper {
            .swiper-slide {
              img {
                filter: brightness(0.75);
              }
            }
          }
          //  SWIPER BUTTONS
          // [class^="swiper-button"] {
          //   // @apply w-8 h-8 top-[35%] opacity-40 [&::after]:text-[14px] px-2 py-0.5  [&:hover]:bg-slate-50 [&::after]:text-gray-600 rounded rounded-3xl;
          //   &[class$="-prev"] {
          //     // @apply left-[-0.75rem];
          //   }
          //   &[class$="-next"] {
          //     // @apply right-[-0.75rem];
          //   }
          // }
        }
        p,
        span {
          color: $themeWhite;
          color: $gray;
        }
        span {
          color: $themeGray;
        }
      }
      // ABOUT CONTENT
      p.content {
        color: $offWhite;
      }

      //  MILESTONES
      .milestone {
        h4 {
          @apply text-slate-100;
        }
        li {
          color: $themeGray;
        }
      }
      .tools {
        li {
          background-color: $themeDGray;
        }
        > div {
          p {
            color: $gray;
          }
        }
      }
    }
  }

  //------------- FOOTER
  .foot {
    background-color: #0e0e0eff;
  }
  //  ---------- TOAST DARK MODE
  [class^="go"] {
    > div {
      background-color: $themeBlackBg;
      color: $themeWhite2;
    }
  }
}
