//ignore:unknown_at_rule_@applyscss

// MID PHONE SIZE
// @media screen and (max-width: 375px) {
// 	#light {
// 		//--------- NAVBAR
// 		.navbar {
// 			.logo svg {
// 				width: 24px;
// 			}
// 			.navBtn svg {
// 				width: 21px;
// 			}

// 			.navigation
// 				> div
// 				> div
// 				.navContextual
// 				button,
// 			&.white
// 				.navigation
// 				> div
// 				> div
// 				.navContextual
// 				button {
// 				padding: 10px 15px;
// 				font-size: 0.65rem;
// 			}
// 			&.white .navigation {
// 				top: 9vh;
// 			}
// 		}

// 		//---------	THEME
// 		.theme {
// 			left: 7%;
// 			button svg {
// 				font-size: 0.8rem;
// 			}
// 		}

// 		//---------	SCROLL UP TOP
// 		.scrollUp {
// 			right: 38%;
// 		}

// 		//--------- HOME
// 		#home {
// 			.intro {
// 				h1 {
// 					font-size: 2.7rem;
// 					margin-bottom: 1.5rem;
// 					button {
// 						margin-bottom: 1rem;
// 					}
// 				}
// 			}
// 			.lilAbout {
// 				> div {
// 					.img {
// 						width: 53%;
// 					}
// 					.about {
// 						.hero {
// 							h2 {
// 								word-spacing: 1px;
// 								-webkit-text-stroke: 0.5px black;
// 								font-size: 1.75rem;
// 								.line {
// 									> div {
// 										height: 0.75vh;
// 									}
// 								}
// 							}
// 						}
// 						p {
// 							line-height: 2.3;
// 							font-size: 0.85rem;
// 						}
// 					}
// 				}
// 			}

// 			.skills {
// 				.KeySkillsWrapper {
// 					.keySkills {
// 						h2 {
// 							font-size: 2rem;
// 						}
// 						.skillList > div .skillName p {
// 							font-size: 0.54rem;
// 							padding-top: 4px;
// 						}
// 						button {
// 							margin-left: 38%;
// 							padding: 6.5px 25px 7.5px;
// 						}
// 					}
// 					.skillPoster {
// 						margin: -11vh 0 2vh -4.5vh;
// 						& > div svg {
// 							width: 470px;
// 						}
// 						p {
// 							margin: -2rem 0 0 3rem;
// 							width: 70%;
// 						}
// 					}
// 				}
// 			}
// 			//--------- HOME PAGE BUTTONS EDIT
// 			.intro button,
// 			.lilAbout .about button {
// 				font-size: 9.5px;
// 				padding: 7px 16px;
// 			}

// 			.homeProjects {
// 				.hero {
// 					h1 {
// 						-webkit-text-stroke: 0.5px black;
// 						font-size: 4.85vh;
// 					}
// 				}
// 				.projectView {
// 					img {
// 						width: 15%;
// 						&:first-child {
// 							padding-left: 1rem;
// 						}
// 						&.mid {
// 							width: 25%;
// 						}
// 						&.large {
// 							width: 44%;
// 						}
// 						&:nth-of-type(2n) {
// 							margin: 0 -1.9rem;
// 						}
// 					}
// 				}
// 			}
// 		}

// 		//--------- PROJECTS
// 		#projects .explore {
// 			h1 {
// 				font-size: 2.2rem;
// 			}
// 			.sub {
// 				width: 230px;
// 			}
// 		}

// 		#contact {
// 			.bg header h1 {
// 				font-size: 2.2rem;
// 			}
// 			main .ContactMeWrapper .circleWrapper {
// 				clip-path: circle(11rem);
// 			}
// 		}

// 		//---------ABOUT
// 		#about {
// 			.bg {
// 				height: 110vh;
// 				background-size: auto 110vh;
// 				h1 {
// 					padding: 9vh 0 2vh;
// 					font-size: 1.95rem;
// 					-webkit-text-stroke: 0.3px white;
// 				}
// 				.content {
// 					line-height: 4.35vh;
// 					font-size: 0.78rem;
// 					p::first-letter {
// 						padding-left: 12px;
// 					}
// 					button {
// 						margin-left: 63%;
// 						padding: 11px 18px;
// 						font-size: 0.575rem;
// 					}
// 				}
// 			}
// 		}

// 		//-------- FOOTER
// 		.foot .leftPanel > button {
// 			margin-right: 2%;
// 		}

// 		//-------- PORTALS
// 		#portals {
// 			#Resume {
// 				.ResumeImg img {
// 					height: 60vh;
// 				}
// 				.ResumeDwn {
// 					button[title='Download Resume'] svg {
// 						width: 1.4rem;
// 					}
// 					p {
// 						font-size: 11px;
// 						letter-spacing: 0;
// 					}
// 				}
// 			}

// 			//--------- MAIN PORTAL
// 			#portfolioPortal {
// 				.clsArea {
// 					height: 350rem;
// 				}
// 				.portalContent {
// 					min-width: 82%;
// 					header {
// 						h1 {
// 							font-size: 0.925rem;
// 							margin-top: -0.5rem;
// 							margin-right: 0.6rem;
// 						}
// 						button {
// 							top: -1.7rem;
// 							right: -0.7rem;
// 						}
// 					}
// 					blockquote {
// 						p::first-letter {
// 							padding-left: 0.4rem;
// 						}
// 					}
// 					#privacy h3 {
// 						padding-left: 0.7rem;
// 					}
// 					#pricing {
// 						.viewBtns {
// 							width: 70%;
// 						}
// 						section {
// 							.card {
// 								.cardHeader h3 {
// 									font-size: 1.25rem;
// 								}
// 								ul li {
// 									margin-bottom: 0.3rem;
// 									&:first-of-type {
// 										padding-top: 1rem;
// 									}
// 									svg {
// 										width: 0.6rem;
// 										padding: 4px;
// 									}
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }

// // SMALL PHONE SIZE
// @media screen and (max-width: 320px) {
// 	#light {
// 		//--------- NAVBAR
// 		.navbar {
// 			.logo {
// 				margin: 0.25rem 0 0 1.45rem;
// 				svg {
// 					width: 22px;
// 				}
// 			}
// 			.navBtn {
// 				margin: -5px 12px 0 0;
// 				svg {
// 					width: 20px;
// 				}
// 			}
// 			.navigation {
// 				height: 101vh;
// 			}
// 			.navigation
// 				> div
// 				> div
// 				.navContextual
// 				button,
// 			&.white
// 				.navigation
// 				> div
// 				> div
// 				.navContextual
// 				button {
// 				padding: 10px 12px;
// 			}
// 		}

// 		//---------	THEME
// 		.theme {
// 			left: 5%;
// 			button {
// 				padding: 1.5px 4.3px 1.75px 3.75px;
// 			}
// 		}

// 		//---------	SCROLL UP TOP
// 		.scrollUp {
// 			right: 37%;
// 		}

// 		//--------- HOME
// 		#home {
// 			.intro {
// 				h1 {
// 					font-size: 2.2rem;
// 					letter-spacing: 0.5px;
// 				}
// 				.hero,
// 				.h5Hold {
// 					word-spacing: 1.5px;
// 					letter-spacing: 0.15px;
// 					-webkit-text-stroke: 0.05px white;
// 				}
// 				button {
// 					margin-top: 0.25rem;
// 				}
// 			}
// 			.lilAbout {
// 				> div {
// 					.about {
// 						.hero {
// 							h2 {
// 								-webkit-text-stroke: 0;
// 							}
// 						}
// 						p {
// 							font-size: 0.8rem;
// 							margin: 0 1.5rem 2rem 2.5rem;
// 							word-spacing: 0.5px;
// 						}
// 					}
// 				}
// 			}
// 			.skills {
// 				#tsparticles {
// 					height: 200vh;
// 				}
// 				.KeySkillsWrapper {
// 					.keySkills {
// 						h2 {
// 							-webkit-text-stroke: 0.35px white;
// 							font-size: 1.75rem;
// 							letter-spacing: 0.7px;
// 							word-spacing: 5px;
// 						}
// 						.skillList {
// 							margin: 0.5rem 1.3rem 3rem 1.4rem;
// 							> div .skillName {
// 								width: 21%;
// 								p {
// 									font-size: 0.5rem;
// 								}
// 							}
// 						}
// 						button {
// 							margin-left: 35%;
// 							padding: 5px 23px 6px;
// 						}
// 					}
// 					.skillPoster {
// 						margin: -16.1vh 0 1vh -7.5vh;
// 						& > div svg {
// 							width: 430px;
// 						}
// 						p {
// 							padding-left: 1.7rem;
// 						}
// 					}
// 				}
// 			}
// 			.homeProjects {
// 				.hero {
// 					margin-top: 0;
// 					h3 {
// 						font-size: 0.75rem;
// 						word-spacing: 2px;
// 					}
// 					h1 {
// 						-webkit-text-stroke: 0.37px black;
// 						font-size: 1.75rem;
// 						letter-spacing: -0.3px;
// 						word-spacing: 3px;
// 					}
// 				}
// 				.projectView {
// 					img {
// 						width: 17%;
// 					}
// 				}
// 			}
// 		}

// 		//--------- PROJECTS
// 		#projects {
// 			.explore {
// 				h1 {
// 					font-size: 2rem;
// 				}
// 				.sub {
// 					margin-top: 12vh;
// 					width: 195px;
// 					font-size: 0.6rem;
// 				}
// 			}
// 			main {
// 				.projectNav {
// 					padding: 1.2rem 0rem 0 1rem;
// 					> div button:last-child {
// 						margin-right: 1rem;
// 					}
// 				}
// 				section {
// 					.gridSection > div {
// 						margin: 0 0.5rem 2.7rem;
// 						.img {
// 							border-radius: 0.8vh;
// 							background-size: 100% 30vh;
// 							height: 30vh;
// 							.contentWrapper {
// 								p {
// 									font-size: 8.25px;
// 									line-height: 1.6;
// 									width: 90%;
// 								}
// 								ul {
// 									margin: 0 auto;
// 									padding-bottom: 0.55rem;
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}

// 		#contact {
// 			.bg header {
// 				h1 {
// 					font-size: 2rem;
// 				}
// 				.sub {
// 					font-size: 0.65rem;
// 				}
// 			}
// 			main {
// 				.svg section {
// 					width: 100%;
// 				}
// 				.ContactMeWrapper {
// 					.ContactMe {
// 						margin-bottom: 5rem;
// 					}
// 					.circleWrapper {
// 						clip-path: circle(9.5rem);
// 						margin: -17.5rem 0 -16.5rem 6.5rem;
// 					}
// 				}
// 			}
// 		}

// 		//---------ABOUT
// 		#about {
// 			.bg {
// 				height: 117vh;
// 				background-size: auto 117vh;
// 				.content {
// 					font-size: 0.7rem;
// 					button {
// 						margin-left: 60%;
// 					}
// 				}
// 			}
// 			section {
// 				.imgX2 {
// 					margin: 3rem auto 0;
// 					width: 80%;
// 					border-radius: 0.85vh;
// 				}
// 				.aboutMe {
// 					font-size: 0.7rem;
// 				}
// 			}
// 			.myServices {
// 				h2 {
// 					font-size: 1.8rem;
// 					letter-spacing: 0;
// 					word-spacing: 5px;
// 					-webkit-text-stroke: 0.25px white;
// 				}
// 				.serviceList {
// 					padding: 2rem;
// 					.serviceListCol > div {
// 						margin-bottom: 1.7rem;
// 						.service {
// 							padding: 1rem 1.4rem 2rem;
// 						}
// 					}
// 				}
// 			}
// 		}

// 		//-------- FOOTER
// 		.foot {
// 			.leftPanel > button {
// 				margin-right: 1%;
// 				font-size: 11px;
// 			}
// 			.copyx0 {
// 				margin: 0;
// 				h5 {
// 					font-size: 10px;
// 				}
// 			}
// 		}

// 		//-------- PORTALS
// 		#portals {
// 			#Resume {
// 				.ResumeImg img {
// 					height: 65vh;
// 				}
// 				[title='Close'] {
// 					svg {
// 						width: 1.3rem;
// 					}
// 				}
// 				.ResumeDwn {
// 					top: 85vh;
// 					button {
// 						margin-top: -5px;
// 						svg {
// 							height: 1.3rem;
// 						}
// 					}
// 					p {
// 						font-size: 10px;
// 						letter-spacing: 0.5px;
// 					}
// 				}
// 			}

// 			#portfolioPortal {
// 				.clsArea {
// 					height: 370rem;
// 				}

// 				.portalContent {
// 					header button[title='Close'] {
// 						svg {
// 							width: 0.85rem;
// 						}
// 					}
// 					blockquote {
// 						word-spacing: 0;
// 					}
// 					#donate {
// 						form {
// 							.formControl {
// 								label {
// 									font-size: 0.725rem;
// 								}
// 							}
// 							.checkControl {
// 								input {
// 									margin-left: 5px;
// 									margin-right: 10px;
// 								}
// 							}
// 						}
// 					}
// 					#FAQs .FAquestions .questionDiv {
// 						> div[class^='question'] div p {
// 							font-size: 0.725rem;
// 						}
// 						div[class^='answer'] {
// 							p {
// 								font-size: 0.65rem;
// 								word-spacing: 2px;
// 								padding: 0.7rem 1.1rem 0.5rem 1rem;
// 							}
// 							button {
// 								margin: 1rem auto3;
// 							}
// 						}
// 					}
// 					#privacy {
// 						h3 {
// 							padding-left: 0.15rem;
// 							font-size: 0.8rem;
// 						}
// 						blockquote {
// 							font-size: 0.7rem;
// 							&::first-letter {
// 								font-size: 0.8rem;
// 							}
// 						}
// 					}
// 					#pricing {
// 						section {
// 							padding: 2.5rem 0;
// 							.card {
// 								.cardHeader {
// 									p {
// 										line-height: 1.8;
// 									}
// 									h3 {
// 										font-size: 1.2rem;
// 									}
// 								}
// 								ul li {
// 									font-size: 0.725rem;
// 									margin-bottom: 0.5rem;
// 									svg {
// 										padding: 3.5px 4px;
// 									}
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }


  //  Small iPhone  - Nexus 6 - 412 x 732
  //  Small iPhone  - Samsung Galaxy S8+ - 360 x 740
//   ******************************************* LANDSCAPE *******************************************
// PHONE LANDSCAPE - iPhone 4
@media screen and (min-height: 320px) and (orientation: Landscape) {
  //--------- LOADER
  .Loader {
    & > div {
      svg {
        @apply w-[6.5vw] mx-5;
      }
    }
    .progress {
      @apply h-1 w-[3rem] bg-gray-900 rounded my-7 transition-all duration-100 ease-in-out;
    }
  }
  #light {
    //--------- NAVBAR
    .navbar {
      @apply h-[13vh];
      .logo {
        @apply p-2;
        svg {
          @apply w-6;
        }
      }
      .navigation {
        > div {
          > div {
            .nav {
              -webkit-text-stroke: 0.2px white;
              @apply my-1 px-10 pt-4 pb-1 mx-auto;
            }
          }
          & > div:last-of-type button {
            @apply mt-3.5 mb-0 px-3 py-2.5;
          }
        }
        //SHOWN
        &.show {
          @apply top-[14vh] w-[94%] left-[3%] py-3;
        }
      }
    }
    #home {
      .intro h1 {
        font-size: 2.2rem;
      }
      .lilAbout {
        .circleImg {
          @apply w-[50%] py-[1.8%] px-[1.8%] pb-[2%];
          img {
            // width: 7rem;
          }
        }
        .about {
          .hero h2 .line > div {
            @apply h-[1.65vh];
          }
          p {
            @apply leading-[2];
          }
          .more {
            @apply my-5;
            button {
            }
          }
        }
      }
      .skills {
        #tsparticles {
          @apply h-[300vh];
        }
        .KeySkillsWrapper {
          h2 {
            @apply mb-2 mt-4;
          }
          .skillList .skillPill {
            @apply mb-3.5;
          }
        }
        .skillPoster {
          @apply ml-5;
          & > div svg {
            @apply w-[80%];
          }
        }
        //TOOLS
        .tools {
          p {
            @apply w-[350px] mx-auto mt-2;
          }
        }
      }
      .homeProjects .swiper {
        .swiper-slide {
          @apply h-[55vh];
          img {
            @apply mx-[auto]  min-w-full;
          }
        }
      }
    }
    #about {
      $pad: 1.85rem;
      .bg h1 {
        font-size: $pad;
        padding-top: $pad;
      }
      .content {
        @apply max-h-[65vh] px-6;
      }
      .bg > div:last-of-type {
        @apply mt-2.5 mb-0;
      }
      section {
        .imgX2 {
          @apply w-[50%];
        }
        .aboutMe {
          @apply px-7;
        }
      }
      #tsparticles {
        height: 380vh;
      }
      .myServices .serviceWrapper .serviceList {
        @apply flex gap-4;
        .service {
          @apply pl-4 pr-3 py-5 pb-9 w-fit;
          h3 {
            @apply text-sm;
          }
          .icon {
            @apply p-1.5;
          }
          p {
            @apply max-w-[190px];
          }
        }
      }
    }
    #projects {
      .explore {
        @apply top-12;
        .sub {
          @apply my-[-2rem];
        }
      }
      main {
        .projectNav {
          // WHITE BACKGROUND SIDE NAV
          > div {
            @apply top-[2.8rem];
            .Nav {
              //  EACH BUTTON
              @apply flex items-center justify-start py-1 px-1 mb-1.5 
              [&.active>span]:text-[0.61rem] font-bold [&.active>img]:mr-[.1rem];
              img {
                @apply pb-0.5 w-[30%] m-0;
              }
              span {
                margin-left: 0.25rem;
                color: $themeDGray;
              }
            }
          }
        }
        section {
          .gridSection {
            // EACH PROJECT DIV
            .MainProject {
              @apply mx-7;
              .swiper .swiper-wrapper .swiper-slide img {
                @apply max-h-[45vh];
              }
              .contentWrapper {
                @apply pr-2 pl-4 mt-[-.3rem];
                p {
                  padding-top: 3px;
                }
                .actions {
                  @apply flex justify-between;
                }
              }
            }
          }
          // USED TOOLS DIV
          .tools {
            &.show {
              @apply mt-[-1.25rem];
              &::before {
                @apply h-6 left-12;
              }
            }
          }
          // UI IMAGES
          .UI-UX {
            @apply flex gap-5 px-2 py-7 pl-5;
            .UI_image {
              img {
                @apply max-w-[100%] ml-0;
              }
            }
          }
        }
      }
    }
    #contact {
      .bg .Pleasantries {
        @apply top-24;
      }
      main {
        .svg {
          @apply w-[65%] m-0 mx-auto;
        }
        .socials {
          @apply m-0 mx-auto;
        }
        .ContactMeWrapper {
          @apply px-8;
          .ContactMe {
            @apply px-5;
          }
          .circleWrapper {
            // display: none;
            @apply mt-[-11rem] mr-[-10.5rem] 
            h-[90vh] mb-[-5.5rem];
          }
        }
      }
    }

    //--------- PORTALS
    #portals {
      // RESUME
      .ResumeImg {
        @apply p-3 pb-1.5;
        img {
          @apply max-h-[80vh];
        }
      }
      .ResumeDwn {
        @apply justify-center mt-[-.5rem] mr-[18%];
      }
      // UI PROJECT'S
      .UIZoom button {
        @apply mt-[-1.5rem];
      }
    }
  }
}
// PHONE LANDSCAPE   iPhone 4, iPhone 5/SE (-100px),
@media screen and (min-height: 320px) and (min-width: 450px) and (max-width: 580px) and (orientation: Landscape) {
  //--------- LOADER
  .Loader {
    & > div {
      svg {
        @apply w-[7vw] mx-5;
      }
    }
    .progress {
      @apply h-1 w-[3rem] bg-gray-900 rounded my-7 transition-all duration-100 ease-in-out;
    }
  }
  #light {
    //--------- NAVBAR
    .navbar {
      @apply h-[14vh];
      .logo svg {
        @apply w-6;
      }
      .navigation {
        > div {
          > div {
            .nav {
              @apply my-1 px-10 pt-4 pb-1 mx-auto;
            }
          }
          & > div:last-of-type button {
            @apply mt-3.5 mb-3; //px-3 py-2.5;
          }
        }
        //SHOWN
        &.show {
          @apply top-[14.5vh] py-0 w-[92%] left-[4%];
        }
      }
    }
    #home {
      .lilAbout {
        @apply py-4 px-10;
        .circleImg {
          @apply w-[45%] py-[1.8%] px-[1.8%] pb-[2%];
        }
        .about {
          .hero h2 .line > div {
            @apply h-[1.65vh];
          }
          p {
            @apply leading-[2];
          }
          .more button {
            @apply mb-5;
          }
        }
      }
      .skills {
        #tsparticles {
          @apply h-[280vh];
        }
        .KeySkillsWrapper {
          .skillList {
            @apply px-4 pl-8;
            .skillPill {
              @apply mb-3;
              .skillName {
                @apply min-w-[22%];
                p {
                  @apply py-[0.32rem];
                }
              } //PROGRESS BAR
              > div.progressBar {
                @apply w-[78%];
              }
            }
          }
        }
        .skillPoster {
          @apply mt-[-1.2rem] mr-[-1.0rem];
          & > div svg {
            @apply w-[60%];
          }
        }
        .tools p {
          @apply w-[500px] mt-[-1rem];
        }
        .homeProjects .swiper .swiper-slide {
          @apply h-[50vh] ml-1;
          img {
            @apply min-w-full;
          }
        }
      }
    }
    #about {
      .bg {
        @apply h-[120vh];
        h1 {
          padding-top: 1.2rem;
        }
        > div:last-of-type {
          @apply mt-2; // mb-0;
        }
      }
      .content {
        @apply max-h-[77vh] px-10;
      }
      section {
        .imgX2 {
          @apply w-[50%];
        }
        .aboutMe {
          @apply px-10;
        }
      }
      #tsparticles {
        height: 380vh;
      }
      .myServices .serviceWrapper {
        h2 {
          font-size: 2.2rem;
        }
        .serviceList {
          @apply flex gap-4 p-4;
          .service {
            @apply pl-5 pr-3.5 py-5 pb-10;
            .icon {
              @apply p-2.5;
            }
            p {
              @apply max-w-[200px];
            }
          }
        }
      }
    }
    #projects {
      .explore {
        @apply top-8;
        .sub {
          @apply px-8 my-[-2rem];
        }
      }
      main {
        .projectNav {
          // WHITE BACKGROUND SIDE NAV
          > div {
            @apply top-[2.7rem];
            //  EACH BUTTON
            .Nav {
              @apply flex items-center justify-start py-1 px-1 mb-2  [&.active>span]:text-[0.61rem] font-bold [&.active>img]:mr-[.1rem];
              img {
                @apply pl-0.5 w-[27%] m-0;
              }
              span {
                margin-left: 0.25rem;
                color: $themeDGray;
              }
            }
          }
        }
        section {
          @apply px-8;
          .gridSection {
            // EACH PROJECT DIV
            .MainProject {
              @apply mr-5 ml-10;
              .swiper .swiper-wrapper .swiper-slide img {
                @apply max-h-[50vh];
              }
              .contentWrapper {
                @apply pr-2.5 pl-5 mt-[-.3rem];
              }
            }
          }
          // USED TOOLS DIV
          .tools {
            &.show {
              @apply mt-[-1.25rem] ml-4;
              &::before {
                @apply h-6 left-12;
              }
            }
          }
          // UI IMAGES
          .UI-UX {
            @apply flex gap-6 pr-1 py-7 pl-3;
            .UI_image {
              img {
                @apply max-w-[100%] ml-0;
              }
            }
          }
        }
      }
    }
    #contact {
      .bg {
        @apply h-[120vh];
        .Pleasantries {
          @apply top-20;
        }
      }
      main {
        .svg {
          @apply w-[65%] m-0 mx-auto;
        }
        .socials {
          @apply m-0 mx-auto;
        }
        .ContactMeWrapper {
          @apply px-20;
          .ContactMe {
            @apply px-5;
          }
          .circleWrapper {
            // display: none;
            @apply mt-[-11rem] mr-[-12.5rem] 
            h-[90vh] mb-[-5.5rem];
          }
        }
      }
    }
    //--------- PORTALS
    #portals {
      // RESUME
      .ResumeImg {
        @apply p-2.5; // pb-1.5;
        img {
          @apply max-h-[80vh];
        }
      }
      .ResumeDwn {
        @apply mt-[-.55rem] mr-[23%];
      }
      // UI PROJECT'S
      .UIZoom button {
        @apply mt-[-1.5rem];
      }
    }
  }
}

// PHONE LANDSCAPE   Nexus 6, Samsung Galaxy S8+
@media screen and (min-height: 350px) and (max-width: 750px) and (orientation: Landscape) {
  //--------- LOADER
  .Loader {
    & > div {
      svg {
        @apply w-[8vw] mx-5;
      }
    }
    .progress {
      @apply h-1 w-[3rem] bg-gray-900 rounded my-7 transition-all duration-100 ease-in-out;
    }
  }
  #light {
    //--------- NAVBAR
    .navbar {
      @apply h-[15vh];
      .logo svg {
        @apply w-7;
      }
      .theme svg,
      .navBtn svg {
        @apply w-6 h-6;
      }
      .navigation {
        > div {
          > div {
            .nav {
              @apply my-1.5 px-14 pt-2 pb-1;
            }
          }
          & > div:last-of-type button {
            @apply my-2;
          }
        }
        //SHOWN
        &.show {
          @apply top-[15.5vh] w-[94%] left-[3%];
        }
      }
    }
    #home {
      .vid video {
        @apply h-[auto];
      }
      .lilAbout {
        @apply py-4 px-10;
        .circleImg {
          @apply w-[45%] py-[1.8%] px-[1.8%] pb-[2%];
        }
        .about {
          .hero h2 .line > div {
            @apply h-[1.65vh];
          }
          p {
            @apply leading-[2];
          }
          .more button {
            @apply mb-5;
          }
        }
      }
      .skills {
        #tsparticles {
          @apply h-[240vh];
        }
        .KeySkillsWrapper {
          .skillList {
            @apply px-4 pl-8;
            .skillPill {
              @apply mb-3;
              .skillName {
                @apply min-w-[22%];
                p {
                  @apply py-[0.32rem];
                }
              } //PROGRESS BAR
              > div.progressBar {
                @apply w-[78%];
              }
            }
          }
        }
        .skillPoster {
          @apply mt-[-1.2rem] mr-[-1.0rem];
          & > div svg {
            @apply w-[50%];
          }
        }
        .tools p {
          @apply w-[500px] mt-0;
          // [-1rem];
        }
      }
      .homeProjects .swiper .swiper-slide {
        @apply h-[60vh] ml-2;
        img {
          @apply min-w-full;
        }
      }
    }
    #about {
      .bg {
        background-size: cover;
        h1 {
          padding-top: 1.3rem;
        }
        > div:last-of-type {
          // @apply mt-1.5; // mb-0;
        }
      }
      .content {
        @apply max-h-[75vh] px-12;
      }
      section {
        .imgX2 {
          @apply w-[50%];
        }
        .aboutMe {
          @apply px-16;
        }
      }
      #tsparticles {
        height: 330vh;
      }
      .myServices .serviceWrapper {
        h2 {
          font-size: 2.2rem;
        }
        .serviceList {
          @apply flex gap-4 p-4;
          .service {
            @apply pl-5 pr-3.5 py-5 pb-10;
            .icon {
              @apply p-2.5;
            }
            p {
              @apply max-w-[200px];
            }
          }
        }
      }
    }
    #projects {
      .bg {
        background-size: cover;
      }
      .explore {
        @apply top-10;
        .sub {
          @apply px-14 my-7;
        }
      }
      main {
        .projectNav {
          // WHITE BACKGROUND SIDE NAV
          > div {
            @apply top-[3.55rem];
            //  EACH BUTTON
            .Nav {
              @apply flex items-center justify-start p-1 mb-2 
              [&.active>span]:text-[0.65rem] font-bold [&.active>img]:mr-[.15rem];
              img {
                @apply pl-0.5 w-[24%] m-0;
              }
              span {
                margin-left: 0.25rem;
                color: $themeDGray;
              }
            }
          }
        }
        section {
          @apply px-12;
          .gridSection {
            // EACH PROJECT DIV
            .MainProject {
              @apply mr-7 ml-16;
              .swiper .swiper-wrapper .swiper-slide img {
                @apply max-h-[50vh];
              }
              .contentWrapper {
                @apply pr-3 pl-6 mt-[-.2rem] m-1;
                p {
                  @apply text-[0.75rem];
                }
              }
            }
          }
          // USED TOOLS DIV
          .tools {
            &.show {
              @apply mt-[-1.15rem] mr-3 ml-10;
              &::before {
                @apply h-6 left-12;
              }
            }
          }
          // UI IMAGES
          .UI-UX {
            @apply flex gap-6 pr-1 py-7 pl-3;
            .UI_image {
              img {
                @apply max-w-[100%] ml-0;
              }
            }
          }
        }
      }
    }
    #contact {
      .bg {
        background-size: cover;
        // @apply h-[120vh];
        .Pleasantries {
          @apply top-[20vh];
          h1 {
            @apply text-[2.5rem];
          }
          .sub {
            @apply p-10 text-[1rem];
          }
        }
      }
      main {
        .svg {
          @apply w-[65%] m-0 mx-auto;
        }
        .socials {
          @apply m-0 mx-auto;
        }
        .ContactMeWrapper {
          @apply px-20;
          .ContactMe {
            @apply px-7 mx-7;
            form .formControl > div label {
              @apply text-[0.9rem];
            }
          }
          .circleWrapper {
            clip-path: circle(12rem);
            @apply mt-[-15rem] mr-[-17rem] 
            h-[110vh] mb-[-6rem];
          }
        }
      }
    }
    //--------- PORTALS
    #portals {
      // RESUME
      .ResumeImg {
        @apply p-2.5; // pb-1.5;
        img {
          @apply max-h-[80vh];
        }
      }
      .ResumeDwn {
        @apply mt-[-.55rem] mr-[25%];
        button:first-of-type {
          @apply mr-14;
        }
      }
      // UI PROJECT'S
      .UIZoom button {
        @apply mt-[-1.5rem];
      }
      .ProjectDets {
        @apply max-w-[90vw] px-[1rem] py-2 mx-10 my-2;
        h3 {
          @apply pl-8 mt-[-0.5rem];
        }
        .images img {
          @apply rounded object-cover rounded-2xl max-h-[70vh]; // w-full;
        }
        p.content {
          @apply text-[0.9rem];
        }
      }
    }
  }
}
