@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth !important;
}
*::selection {
  background-color: rgba(51, 51, 51, 0.6666666667);
}

#root {
  overflow-x: hidden;
  --swiper-navigation-size: 0px !important;
}
#root::-webkit-scrollbar {
  display: none;
}

.Loader .AFill {
  animation: Fade 900ms ease-in infinite alternate-reverse forwards;
}
.Loader .progress {
  animation: Slide 900ms ease-in infinite alternate-reverse forwards;
}

@keyframes Fade {
  from {
    opacity: 100%;
  }
  to {
    opacity: 1%;
  }
}
@keyframes Slide {
  from {
    width: 1%;
  }
  to {
    width: 100%;
  }
}
#about .bg,
#contact .bg {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: local;
  height: 100vh;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  #about .bg,
  #contact .bg {
    background-size: cover;
  }
}
@media screen and (max-width: 450px) {
  #about .bg,
  #contact .bg {
    background-size: auto 100%;
    background-position: top;
  }
}

@font-face {
  font-family: montLight;
  src: url("../FONTS/Montserrat-Light.ttf");
}
@font-face {
  font-family: montReg;
  src: url("../FONTS/Montserrat-Regular.ttf");
}
@font-face {
  font-family: montXBold;
  src: url("../FONTS/Montserrat-ExtraBold.ttf");
}
@keyframes toRightFade {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  40% {
    opacity: 0.03;
  }
  50% {
    transform: translateX(45%);
    opacity: 0;
  }
  60% {
    opacity: 0.03;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    transform: translateY(100%) scaleY(0);
  }
  100% {
    transform: translateY(0%) scaleY(1);
  }
}
.Loader {
  @apply w-full h-[100vh];
}
.Loader > div {
  @apply m-auto w-fit h-fit mt-[40vh];
}
.Loader > div svg {
  @apply w-[12vw] mx-5;
}
.Loader .progress {
  @apply h-1 w-[3rem] bg-gray-900 rounded my-3 transition-all duration-100 ease-in-out;
}

#light .navbar {
  border-radius: 0 0 11px 11px;
  z-index: 50;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  transition: all 350ms ease-in-out;
  @apply h-[11vh] fixed w-full p-2.5;
}
#light .navbar .theme {
  @apply w-fit mr-[5px];
}
#light .navbar .theme button {
  @apply bg-transparent rounded rounded-3xl p-2 text-gray-300 hover:bg-[#eee2] focus:bg-[#eee2] hover:text-gray-100 focus:text-gray-100;
}
#light .navbar .navBtn {
  @apply [&>svg]:w-5 [&>svg]:h-5 [&>svg]:text-gray-200 
      bg-transparent rounded rounded-3xl p-2 
      hover:bg-[#eee2] focus:bg-[#eee2] hover:text-gray-100
      focus:text-gray-100;
}
#light .navbar.white {
  box-shadow: 0 -1px 10px #eee;
  @apply bg-white;
}
#light .navbar.white .navBtn {
  @apply [&>svg]:text-gray-700 hover:bg-[#eee9] focus:bg-[#eee9];
}
#light .navbar.white .theme button {
  @apply [&>svg]:text-gray-700 hover:bg-[#eee9] focus:bg-[#eee9];
}
#light .navbar.white .navigation > div > div .nav {
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.9333333333);
  color: rgba(0, 0, 0, 0.9333333333);
}
#light .navbar.white .navigation.show {
  @apply bg-[#fff7];
}
#light .navbar .navigation {
  @apply absolute top-[30vh] left-0 m-0 h-0 w-[0%] hidden;
  transition: all 400ms ease-in-out;
}
#light .navbar .navigation > div > div {
  @apply my-auto;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#light .navbar .navigation > div > div .nav {
  -webkit-text-stroke: 0.25px white;
  font-size: 0.9rem;
  font-family: montLight;
  @apply my-2.5 px-5 pt-3 pb-0.5 rounded mx-auto text-white uppercase;
}
#light .navbar .navigation.show {
  @apply bg-[#1114] absolute top-[12vh] h-auto rounded rounded-xl left-4 w-[96%] left-[2%] py-7 m-0 backdrop-blur block;
}

#home .rel {
  position: relative;
}
#home .vid {
  background: radial-gradient(rgba(34, 34, 34, 0.3333333333), rgba(17, 17, 17, 0.5333333333));
}
#home .vid video {
  width: auto;
  height: 100vh;
  object-fit: cover;
}
#home .intro {
  position: absolute;
  left: 9%;
  top: 33vh;
  position: absolute;
  top: 30vh;
  left: 8%;
}
#home .intro .hero,
#home .intro .h5Hold {
  word-spacing: 1px;
  @apply leading-[0.5] tracking-[0.2px]  w-fit text-white font-sans uppercase;
}
#home .intro .hero {
  font-size: 11.5px;
  @apply pl-1 mb-2;
}
#home .intro .h5Hold {
  border-right: 2px solid #f22;
}
#home .intro .h5Hold > p {
  font-size: 13px;
  -webkit-text-stroke: 0.05px white;
  @apply pt-1 pr-[0.1rem] h-[14.5px] mt-2;
}
#home .intro h1 {
  line-height: 1.05;
  color: white;
  font-family: montXBold, Verdana, sans-serif;
  letter-spacing: 0;
  word-spacing: 0;
  text-align: left;
  text-transform: capitalize;
  font-size: 2.5rem;
}
#home .intro .btn {
  background: transparent;
  color: #135be8;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 10px 18px;
  font-size: 0.65rem;
  border: 2px solid #135be8;
  cursor: pointer;
  @apply rounded rounded-md mt-5 px-5 py-2 ease-in-out;
}
#home .intro .btn:focus {
  outline: none;
}
#home .intro .btn:hover {
  color: #63a6ff;
  background-color: rgba(19, 90, 232, 0.2666666667);
}
#home .lilAbout {
  background: #f5f5f9;
  @apply pt-6 px-3 pb-16;
}
#home .lilAbout .circleImg {
  background-color: #f9f9fa;
  box-shadow: 0 0 15px 0.5px #e5e5e5;
  @apply rounded rounded-[50%] w-[70%] my-3 mx-auto py-[3.1%] px-[3.1%] pb-[3.4%];
}
#home .lilAbout .circleImg img {
  border-radius: 50%;
  width: 100%;
  @apply duration-75 transition-all ease-in;
}
#home .lilAbout .about .hero {
  @apply w-max mx-auto;
}
#home .lilAbout .about .hero h2 {
  @apply mt-1;
  color: black;
  font-family: montXBold, Verdana, sans-serif;
  letter-spacing: 0;
  word-spacing: 4px;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.85rem;
}
#home .lilAbout .about .hero h2 .line {
  background: #eee;
  @apply rounded rounded-sm  mb-6 overflow-hidden;
}
#home .lilAbout .about .hero h2 .line > div {
  background: #021db8;
  @apply w-[40%] h-[1.2vh];
}
#home .lilAbout .about p {
  color: black;
  font-family: montLight, Verdana, sans-serif;
  letter-spacing: 0;
  word-spacing: 2px;
  text-align: left;
  font-size: 0.8em;
  @apply leading-[2.2] text-justify px-2;
}
#home .lilAbout .about p::first-letter {
  @apply pl-3;
}
#home .lilAbout .about > div.more {
  @apply w-fit mx-auto mt-7;
}
#home .lilAbout .about > div.more .btn {
  font-size: 11px;
  background: linear-gradient(-15deg, #1e40af, #2563eb);
  @apply border border-blue-600 font-sans rounded rounded-md text-white px-5 py-3 ease-in-out uppercase w-fit;
}
#home .lilAbout .about > div.more .btn:hover, #home .lilAbout .about > div.more .btn:focus, #home .lilAbout .about > div.more .btn:focus-within, #home .lilAbout .about > div.more .btn:focus-visible {
  background: linear-gradient(-15deg, #153290, #1e40af);
  -webkit-text-stroke: 0.05px white;
}
#home .skills {
  background: linear-gradient(0rad, #000626, #00326f, #05438d);
}
#home .skills #tsparticles {
  z-index: 0;
  @apply w-full h-[220vh] overflow-hidden;
}
#home .skills #tsparticles > canvas {
  position: absolute !important;
}
#home .skills .KeySkillsWrapper {
  position: absolute;
  top: 0;
  left: 0;
  @apply w-full;
}
#home .skills .KeySkillsWrapper .keySkills {
  z-index: 1;
}
#home .skills .KeySkillsWrapper .keySkills > div {
  @apply w-full;
}
#home .skills .KeySkillsWrapper .keySkills > div:last-of-type {
  @apply mt-7 mx-auto my-1 w-fit;
}
#home .skills .KeySkillsWrapper .keySkills > div:last-of-type .btn {
  background: transparent;
  color: #135be8;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 10px 18px;
  font-size: 0.7rem;
  border: 2px solid #135be8;
  cursor: pointer;
  @apply w-fit rounded rounded-md px-5 py-1.5 ease-in-out;
}
#home .skills .KeySkillsWrapper .keySkills > div:last-of-type .btn:focus {
  outline: none;
}
#home .skills .KeySkillsWrapper .keySkills > div:last-of-type .btn:hover {
  color: #63a6ff;
  background-color: rgba(19, 90, 232, 0.2666666667);
}
#home .skills .KeySkillsWrapper .keySkills h2 {
  @apply w-max my-4 mx-auto;
  color: white;
  font-family: montXBold, Verdana, sans-serif;
  letter-spacing: 0.75px;
  word-spacing: 8px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.85rem;
}
#home .skills .KeySkillsWrapper .keySkills .skillList {
  @apply mx-4 my-2;
}
#home .skills .KeySkillsWrapper .keySkills .skillList .skillPill {
  background-color: rgba(19, 90, 232, 0.2666666667);
  @apply w-[90%] rounded rounded-md mb-5 overflow-hidden;
  align-items: center;
  display: flex;
  justify-content: left;
  flex-direction: row;
  transition: all 150ms ease-in-out;
}
#home .skills .KeySkillsWrapper .keySkills .skillList .skillPill .skillName {
  -webkit-text-stroke: 0.05px white;
  color: #f9f9fa;
  @apply min-w-[25%] uppercase text-slate-200 bg-blue-400 text-center;
}
#home .skills .KeySkillsWrapper .keySkills .skillList .skillPill .skillName p {
  font-size: 0.7rem;
  @apply py-[0.3rem] px-1.5 h-fit my-auto mx-auto;
}
#home .skills .KeySkillsWrapper .keySkills .skillList .skillPill > div.progressBar {
  @apply w-[75%];
}
#home .skills .KeySkillsWrapper .keySkills .skillList .skillPill > div.progressBar .progress {
  transition: all 150ms ease-in-out;
  @apply h-[27px] bg-blue-600;
}
#home .skills .KeySkillsWrapper .keySkills .skillList .skillPill:hover {
  box-shadow: 0 0 15px 0.5px rgba(9, 9, 80, 0.4666666667);
}
#home .skills .KeySkillsWrapper .keySkills .skillList .skillPill:hover > div.progressBar {
  box-shadow: 5px 0 10px 0 rgba(9, 9, 80, 0.4666666667);
}
#home .skills .KeySkillsWrapper .keySkills .skillList .skillPill:hover > div.progressBar .progress {
  @apply bg-blue-500;
}
#home .skills .skillPoster {
  z-index: 0;
  @apply mt-[-1rem] mr-1  w-fit;
}
#home .skills .skillPoster > div svg {
  @apply w-[110%] h-[110%];
}
#home .skills .tools p {
  color: #e3f2f8;
  font-family: montLight, Verdana, sans-serif;
  letter-spacing: 0;
  word-spacing: 0;
  text-align: center;
  font-size: 0.7rem;
  @apply w-[240px] mx-auto mt-2;
}
#home .homeProjects h3 {
  -webkit-text-stroke: 0.5px #064da5;
  color: #064da5;
  font-family: montLight, Verdana, sans-serif;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  text-align: center;
  font-size: 0.75rem;
  @apply uppercase mb-[-0.25rem] mt-8;
}
#home .homeProjects h1 {
  @apply mb-8;
  color: black;
  font-family: montXBold, Verdana, sans-serif;
  letter-spacing: -1px;
  word-spacing: 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.8rem;
}
#home .homeProjects .swiper {
  margin: 0 auto;
  @apply w-[90%];
}
#home .homeProjects .swiper .swiper-wrapper {
  @apply w-full;
}
#home .homeProjects .swiper .swiper-wrapper .swiper-slide {
  box-shadow: 0px 2px 5px 0.1px #e3f2f8;
  @apply h-[45vh] rounded rounded-md overflow-hidden;
}
#home .homeProjects .swiper .swiper-wrapper .swiper-slide:hover, #home .homeProjects .swiper .swiper-wrapper .swiper-slide:focus {
  box-shadow: 0px 1px 15px 1px #eee;
}
#home .homeProjects .swiper .swiper-wrapper .swiper-slide:hover img, #home .homeProjects .swiper .swiper-wrapper .swiper-slide:focus img {
  transform: scale(1.03);
}
#home .homeProjects .swiper .swiper-wrapper .swiper-slide img {
  @apply object-contain rounded w-fit transition-all duration-75 ease-in-out;
}

.BottomColor {
  background-color: #17298e;
  @apply h-[1.5vh];
}

.foot {
  background-color: rgba(14, 14, 14, 0.968627451);
  color: #eee;
  @apply px-3 py-3;
}
.foot .socials {
  @apply flex justify-evenly mb-4;
}
.foot .socials > div {
  @apply h-fit p-2;
}
.foot .socials .socialButton {
  display: inline-block;
  @apply p-1.5 rounded rounded-2xl text-gray-500 bg-gray-900 transition-all ease-in duration-75;
}
.foot .socials .socialButton svg {
  @apply w-4 h-4;
}
.foot .socials .socialButton:hover svg, .foot .socials .socialButton:focus svg {
  @apply text-gray-200;
}
.foot .copyx0 h5 {
  @apply text-[11px] text-center font-sans text-gray-400;
}
