@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth !important;
}
*::selection {
  background-color: rgba(51, 51, 51, 0.6666666667);
}

#root {
  overflow-x: hidden;
  --swiper-navigation-size: 0px !important;
}
#root::-webkit-scrollbar {
  display: none;
}

.Loader .AFill {
  animation: Fade 900ms ease-in infinite alternate-reverse forwards;
}
.Loader .progress {
  animation: Slide 900ms ease-in infinite alternate-reverse forwards;
}

@keyframes Fade {
  from {
    opacity: 100%;
  }
  to {
    opacity: 1%;
  }
}
@keyframes Slide {
  from {
    width: 1%;
  }
  to {
    width: 100%;
  }
}
#about .bg,
#contact .bg {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: local;
  height: 100vh;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  #about .bg,
  #contact .bg {
    background-size: cover;
  }
}
@media screen and (max-width: 450px) {
  #about .bg,
  #contact .bg {
    background-size: auto 100%;
    background-position: top;
  }
}

@font-face {
  font-family: montLight;
  src: url("../FONTS/Montserrat-Light.ttf");
}
@font-face {
  font-family: montReg;
  src: url("../FONTS/Montserrat-Regular.ttf");
}
@font-face {
  font-family: montXBold;
  src: url("../FONTS/Montserrat-ExtraBold.ttf");
}
@keyframes toRightFade {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  40% {
    opacity: 0.03;
  }
  50% {
    transform: translateX(45%);
    opacity: 0;
  }
  60% {
    opacity: 0.03;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    transform: translateY(100%) scaleY(0);
  }
  100% {
    transform: translateY(0%) scaleY(1);
  }
}
#home .rel {
  position: relative;
}
#home .vid {
  background: radial-gradient(rgba(34, 34, 34, 0.3333333333), rgba(17, 17, 17, 0.5333333333));
}
#home .vid video {
  width: auto;
  height: 100vh;
  object-fit: cover;
}
#home .intro {
  position: absolute;
  left: 9%;
  top: 33vh;
}
#home .intro .hero,
#home .intro .h5Hold {
  line-height: 0.5;
  letter-spacing: 0.2px;
  word-spacing: 1px;
  @apply w-fit text-white font-sans uppercase;
}
#home .intro .hero {
  font-size: 11.5px;
  @apply pl-1 mb-2;
}
#home .intro .h5Hold {
  border-right: 2px solid #f22;
}
#home .intro .h5Hold > p {
  font-size: 13px;
  -webkit-text-stroke: 0.05px white;
  @apply pt-1 pr-[0.1rem] h-[14.5px] mt-2;
}
#home .intro h1 {
  line-height: 1.05;
  color: white;
  font-family: montXBold, Verdana, sans-serif;
  letter-spacing: 0;
  word-spacing: 0;
  text-align: left;
  text-transform: capitalize;
  font-size: 2.5rem;
}
#home .intro .btn {
  font-size: 11px;
  background: linear-gradient(-15deg, #1e40af, #2563eb);
  @apply font-sans rounded rounded-md text-white mt-7 px-5 py-3 ease-in-out uppercase;
}
#home .intro .btn:hover, #home .intro .btn:focus, #home .intro .btn:focus-within, #home .intro .btn:focus-visible {
  background: linear-gradient(-15deg, #153290, #1e40af);
  -webkit-text-stroke: 0.05px white;
}
